body {
    display: flex; 
    flex-direction: column;
    align-items: center;
}
#board {
    display: grid;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 50px 50px 50px;
}
#msg {
    height: 1em
}
#resetBtn {
    color: #0000EE;
    text-decoration: underline;
}
